rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /inquiries/{inquiryId} {
			allow read: if true;
			allow create: if request.auth.uid != null;
			allow update, delete: if request.auth.uid == resource.data.author;

			match /responses/{responseId} {
				allow create: if false;
				allow read, update, delete:
					if request.auth.id == get(/databases/$(database)/document/inquiries/$(inquiryId)).data.author
			}
		}
	}
}